<h1>Novo Article</h1>
<!-- Aula 7 https://www.youtube.com/watch?v=7rOrlulXNkE&list=PLqsayW8DhUmv49CBT7AvetMplBViAcwuk&index=9 -->

<%= render 'form', article: @article%> <!-- o parametro article do _form vai receber o valor do controller @article -->