<% if notice.present? %>
  <div class="alert alert-success" role="alert">
   <%= notice %> <!--aula13 26min-->
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>
